.float-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: fixed;
  background: white;
  }

.float-button-big {
  height: 80px;
  width: 80px;
  border-radius: 45px;
  position: fixed;
  background: white;
  }

.gear-position {
  right: 10;
  top: 5;
  }

.pitch-up {
  right: 48%;
  bottom: 60;
  }

.pitch-down {
  right: 48%;
  bottom: 5;
  }

.roll-left {
  right: 52%;
  bottom: 32;
  }

.roll-right {
  right: 44%;
  bottom: 32;
  }

.roll-right-img {
    width: 100%;
    height: auto;
    transform: rotate(-20deg);
  }

.roll-left-img {
  width: 100%;
  height: auto;
  transform: rotate(+20deg);
}

.heading-position {
  left: 5;
  bottom: 50%;
}

.altitude-position {
  left: 5;
  bottom: 65%;
}

.hold-speed {
  left: 5;
  bottom: 35%;
}

@media (max-aspect-ratio: 12/8) {
    .float-button {
      height: 60px;
      width: 60px;
      border-radius: 30px;
      position: absolute;
      background: white;
    }
    .pitch-up {
      right: 5;
      bottom: 80;
    }
    .pitch-down {
      right: 5;
      bottom: 5;
    }
    .roll-left {
      left: 80;
      bottom: 42;
    }
    .roll-right {
      left: 5;
      bottom: 42;
    }
}