.float-button {
  height: 50px;
  width: 50px;

  border-radius: 2px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;

  position: fixed;
  background:  #cccccc;
  }

.float-button-big {
  width: 4%;

  border-radius: 4px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;

  position: fixed;
  background:  #cccccc;
  }

.float-button-big:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.float-button-big-content {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

.center-text {
  text-align: center;
}

.gear-position {
  right: 10;
  top: 5%;
  }

.camera-position {
  right: 10;
  top: 15%;
}

.pitch-up {
  left: 40%;
  bottom: 32;
  }

.pitch-down {
  left: 45%;
  bottom: 32;
  }

.roll-left {
  left: 50%;
  bottom: 32;
  }

.roll-right {
  left: 55%;
  bottom: 32;
  }

.landing-gear {
  height: 100%;
  width: 100%;
}

.roll-right-img {
    width: 100%;
    height: auto;
    transform: rotate(-20deg);
  }

.roll-left-img {
  width: 100%;
  height: auto;
  transform: rotate(+20deg);
}

.heading-position {
  left: 5;
  bottom: 50%;
}

.altitude-position {
  left: 5;
  bottom: 60%;
}

.hold-speed {
  left: 5;
  bottom: 40%;
}

@media (max-aspect-ratio: 12/8) {
    .float-button {
      height: 60px;
      width: 60px;
      border-radius: 30px;
      position: absolute;
      background: white;
    }
    .pitch-up {
      right: 5;
      bottom: 80;
    }
    .pitch-down {
      right: 5;
      bottom: 5;
    }
    .roll-left {
      left: 80;
      bottom: 42;
    }
    .roll-right {
      left: 5;
      bottom: 42;
    }
}